body{
	background-color: black;
}

#game{
	position: relative;
	margin: 0;
}

#game > *{
	position: absolute;
}

#player, #player2{
	top: 250px;

	background-color: white;
	width: 50px;
	height: 150px;

	margin: 5px;
}

#foulLine{
	left: 47%;

	background-color: gray;
	width: 35px;
	height: 750px;
}

#player2{
	left: 95%;
}